<loader *ngIf="notLoaded"></loader>
<div class="row" *ngIf="currentUser">
    <div class="col-md-3">
        <div class="text-center">
            <img src="{{ currentUser.profile.imageId | displayProfileImage }}" class="avatar img-circle img-responsive" alt="avatar"
                 style="min-width: 50%;">
            <h4><strong>{{ currentUser.username }}</strong></h4>
        </div>
    </div>
    <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert"></a>
            <i class="fa fa-coffee"></i>
            <span [innerHTML]="'PROFILE.message' | translate"></span>
        </div>
        <h3>{{ 'PROFILE.updateProfile' | translate }}</h3>
        <form class="form-horizontal" [formGroup]="profileUpdateForm" (submit)="updateProfile();">
            <div class="at-error alert alert-danger alert-dismissable" *ngIf="error">
                <a href="javascript:void(0);" class="close" aria-label="close"
                   (click)="dismiss('error');">&times;</a>
                {{ 'PROFILE.profile_update_fail' | translate }}
            </div>
            <div class="at-error alert alert-success alert-dismissable" *ngIf="success">
                <a href="javascript:void(0);" class="close" aria-label="close"
                   (click)="dismiss('success');">&times;</a>
                {{ 'PROFILE.profile_update_success' | translate }}
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{ 'PROFILE.name' | translate }}</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text"
                           formControlName="firstname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{ 'PROFILE.lastname' | translate }}</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text"
                           formControlName="lastname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{ 'PROFILE.email' | translate }}</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text"
                           formControlName="email" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{ 'PROFILE.gender' | translate }}</label>
                <div class="col-lg-8">
                    <select formControlName="gender" class="form-control">
                        <option *ngFor="let gender of genders" [ngValue]="gender.value">{{ gender.description | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">{{ 'profile.update' | translate }}</button>
                    <button type="button" class="btn btn-default"
                        (click)="initializeFormData();">{{ 'profile.cancel' | translate }}</button>
                    <button type="button" class="btn btn-default pull-right btn-danger col-xs-12" style="margin-top: 10px;"
                            (click)="displayChangePassword();">{{ 'profile.change-password' | translate }}</button>
                </div>
            </div>
        </form>
        <password-update *ngIf="showChangePassword"></password-update>
    </div>
</div>