<section id="team" class="team content-section">
    <div class="container">
        <div class="row text-center">
            <div class="section-title center wow zoomIn">
                <h2 [innerHTML]="'TEAM.MEET_OUR_TEAM' | translate"></h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-member wow zoomIn" data-wow-offset="10">
                            <figure>
                                <img src="img/team/tayfun.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>{{ 'TEAM.TEAM_FIRST.DESCRIPTION' | translate }}</p>
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4>{{ 'TEAM.TEAM_FIRST.NAME' | translate }}</h4>
                            <p>{{ 'TEAM.TEAM_FIRST.POSITION' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow zoomIn" data-wow-offset="10">
                            <figure>
                                <img src="img/team/hazar.png" alt="" class="img-responsive">
                                <figcaption>
                                    <p>{{ 'TEAM.TEAM_SECOND.DESCRIPTION' | translate }}</p>
                                    <ul>
                                        <li>Envanter rotalama</li>
                                        <li>Simülasyon</li>
                                        <li>İstatistiksel ve makine öğrenme</li>
                                        <li>Veri madenciliği</li>
                                        <li>Meta-sezgisel algoritmalar</li>
                                        <li>Finansal piyalasar analizi</li>
                                        <li>Reisk değerlendirme ve derecelendirme</li>
                                        <li>Ekonometrik modeller</li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4>{{ 'TEAM.TEAM_SECOND.NAME' | translate }}</h4>
                            <p>{{ 'TEAM.TEAM_SECOND.POSITION' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow zoomIn" data-wow-offset="10">
                            <figure>
                                <img src="img/team/burak.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>{{ 'TEAM.TEAM_THIRD.DESCRIPTION' | translate }}</p>
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4>{{ 'TEAM.TEAM_THIRD.NAME' | translate }}</h4>
                            <p>{{ 'TEAM.TEAM_THIRD.POSITION' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>