<footer id="footer" class="navbar-bottom" style="margin-bottom: 0px;">
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="social text-center">
                <ul>
                    <li><a class="wow fadeInUp facebook" href="https://www.linkedin.com/in/akademik-destek-9b3a3a13a" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="wow fadeInUp linkedin" href="https://www.linkedin.com/in/akademik-destek-9b3a3a13a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="wow fadeInUp twitter" href="https://twitter.com/academikdestek?s=08" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="text-center wow fadeInUp">{{ year | date:"yyyy" }}&nbsp;©&nbsp;{{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate }}</div>
            <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
        </div>
    </div>
</footer>