<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>{{ year | date:"yyyy" }}&nbsp;©&nbsp;{{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate }}</p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">
                <li><a href="https://www.linkedin.com/in/akademik-destek-9b3a3a13a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/academikdestek?s=08" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</nav>