<nav id="navigation-bar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-bar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" [innerHTML]="'NAVIGATION.BRAND' | translate"></a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-bar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/blog">{{ 'NAVIGATION.BLOG' | translate }}</a></li>
                <li><a routerLink="/posts">{{ 'NAVIGATION.POSTS' | translate }}</a></li>
                <li *ngIf="!user"><a routerLink="/signup" [routerLinkActive]="['active']">{{ 'NAVIGATION.REGISTER' | translate }}</a></li>
                <li *ngIf="!user"><a routerLink="/login" [routerLinkActive]="['active']">{{ 'NAVIGATION.LOGIN' | translate }}</a></li>
                <li *ngIf="user"><a routerLink="/profile" [routerLinkActive]="['active']">{{ 'NAVIGATION.PROFILE' | translate }}</a></li>
                <li *ngIf="user"><a href="javascript:void(0);" (click)="logout();">{{ 'NAVIGATION.LOGOUT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</nav>