#navigation-bar {

  background-color: #222222 !important;
  border: 0px;

  .navbar-brand {
    font-size: 22px;
    color: white;
    font-weight: 900;
  }

  .nav {
    li {
      a {
        font-weight: 800;
        color: #dddddd;
      }
      a:hover {
        color: #fcac45;
      }
    }
  }
}