<nav id="menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" [innerHTML]="'NAVIGATION.BRAND' | translate"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" class="page-scroll"
                       (click)="changeLanguage($event)">{{ 'NAVIGATION.LANGUAGE' | translate }}</a></li>
                <li><a routerLink="/blog" class="page-scroll">{{ 'NAVIGATION.BLOG' | translate }}</a></li>
                <li *ngIf="!user"><a routerLink="/signup" class="page-scroll">{{ 'NAVIGATION.REGISTER' | translate }}</a></li>
                <li *ngIf="!user"><a routerLink="/login" class="page-scroll">{{ 'NAVIGATION.LOGIN' | translate }}</a></li>
                <li *ngIf="user"><a routerLink="/profile" class="page-scroll">{{ 'NAVIGATION.PROFILE' | translate }}</a></li>
                <li *ngIf="user"><a href="javascript:void(0);" (click)="logout();" class="page-scroll">{{ 'NAVIGATION.LOGOUT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</nav>