#menu {
  padding: 20px 5px 0px 5px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  font-weight: 900;
}

#menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #FFF;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FCAC45 !important;
  background-color: transparent;
  font-weight: 700;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FCAC45;
  border-color: #FCAC45;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color: #FFF;
}

.navbar-default.top-nav-collapse{
  background-color: #222222 !important;
  padding: 0 !important;
}