<loader *ngIf="onProgress"></loader>
<div class="container">
    <form (ngSubmit)="insertBlog($event);" [formGroup]="blogForm">
        <div class="form-group">
            <label for="title">{{ 'BLOG.BLOG_ENTRY.TITLE' | translate }}</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">{{ 'BLOG.BLOG_ENTRY.SUBTITLE' | translate }}</label>
            <input type="text" class="form-control" id="subtitle" formControlName="subtitle">
        </div>
        <div class="form-group">
            <label for="description">{{ 'BLOG.BLOG_ENTRY.CONTENT' | translate }}</label>
            <div id="froala-editor"></div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>