<section class="intro">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="intro-info">
                    <div class="text-center animated pulse">
                        <h1><p [innerHTML]="'INTRO.GREETING' | translate"></p></h1>
                        <p class="lead" [innerHTML]="'INTRO.DESCRIPTION' | translate"></p>
                        <a routerLink="/signup" class="btn btn-register hvr-grow">{{ 'INTRO.START_USING' | translate }}</a>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="#about" class="angle-down"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>