<div class="col-sm-12">
    <div class="panel panel-white post panel-shadow" *ngFor="let post of posts | async">
        <div class="post-heading">
            <div class="pull-left image">
                <img src="{{ post.owner | userProfileImageUrl }}" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-right" *ngIf="isAdmin">
                <img src="img/icons/stop_screen_share.svg" alt="private"
                     class="delete clickable" (click)="setPostPrivate(post);">
            </div>
            <div class="pull-right" *ngIf="isCurrentUser(post.owner)">
                <img src="img/icons/delete.svg" alt="delete"
                     class="delete clickable" (click)="deletePost(post);">
            </div>
            <div class="pull-left meta clickable" [routerLink]="['/post', post._id ]">
                <div class="title h5">
                    <b>{{ post.owner | displayName }}</b>
                </div>
                <h6 class="text-muted time">{{ post.createdAt | amTimeAgo }}</h6>
            </div>
        </div>
        <div class="post-description clickable" [routerLink]="['/post', post._id ]">
            <p>{{ post.title }}</p>
        </div>
    </div>
    <pagination-controls
            class="pagination"
            (pageChange)="onPageChanged($event)"
            previousLabel="{{ 'pagination.previous' | translate }}"
            nextLabel="{{ 'pagination.next' | translate }}">
    </pagination-controls>
</div>