<div class="at-oauth">
    <button class="btn at-social-btn" id="at-facebook" name="facebook"
            (click)="loginWithFacebook();">
        <i class="fa fa-facebook"></i> {{ 'ACCOUNTS.LOGIN.login_with_facebook' | translate }}
    </button>
    <button class="btn at-social-btn" id="at-twitter" name="twitter"
            (click)="loginWithTwitter();">
        <i class="fa fa-twitter"></i> {{ 'ACCOUNTS.LOGIN.login_with_twitter' | translate }}
    </button>
    <button class="btn at-social-btn" id="at-google" name="google"
            (click)="loginWithGoogle();">
        <i class="fa fa-google"></i> {{ 'ACCOUNTS.LOGIN.login_with_google' | translate }}
    </button>
</div>