<loader *ngIf="onProgress"></loader>
<div class="well">
    <h4>{{ 'posts.posts-list.post-detail.post-comment-entry.leave-a-comment' | translate }}</h4>
    <form [formGroup]="postCommentForm" (ngSubmit)="insertPostComment($event);">
        <div class="form-group">
            <textarea class="form-control" rows="3" formControlName="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{ 'posts.posts-list.post-detail.post-comment-entry.send' | translate }}</button>
    </form>
</div>