* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  background: transparent;
  height: 100%;
}

.router-outer-container {
  padding-top: 50px;
  min-height: 100%;
  background-color: #f9f9f9;
}

.color {
  color: #fcac45;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.section-title {

  h2 {
    font-weight: 300;
  }

  hr {
    border-color: #fcac45;
    border-width: 4px;
    width: 60px;
    float: left;
    clear: both;
  }

  .line{
    border-top: 4px solid #fcac45;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

    hr {
      border-top: 4px solid rgba(252, 172, 69, 0.34);
      width: 40px;
      text-align: center;
      margin-top: 10px;
      position: relative;
      left: 17%;
    }

  }

}

ul, ol, li {
  list-style: none;
}

.list {

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  li {
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;

    span {
      color: #FCAC45;
    }
  }

  i.fa.fa-mobile{
    font-size: 50px;
  }

  i.fa {
    font-size: 40px;
    border: 4px solid #FCAC45;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.5s;
  }
}

a{
  color: #FCAC45;
}

a:hover,
a:focus{
  text-decoration: none;
}

.modal-open {
  overflow: visible;
}

.modal-body {

  .list {
    padding-top: 15px;
  }
}

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ext-box {
  display: table;
  width:100%;
  min-height: 100%;
  background-color: #f9f9f9;
}

.int-box {
  display: table-cell;
  vertical-align: middle;
}

.pagination,
.clickable {
  cursor: pointer;
}

.collection-item {
  border: solid 1px #FCAC45;
}

.pagination {
  display: inline;
  text-align: center;
}

.delete:hover {
  color : red;
  background-color: red;
}

.spinner-background {
  background-color: darken( #fcac45, 10%);
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}