body, html{
	background-color: #f8f8f8;
	font-family: 'Muli', sans-serif;
	padding: 0;
	margin: 0;
	min-height: 100%;
}

.color{
	color: #fcac45;
}

h1{
	text-transform: uppercase;
}

h1 strong{
	font-weight: 900;
}

h2{
	text-transform: uppercase;
	margin:  0;
}

h3{
	font-size: 18px;
	font-weight: 900;
}

h4{
	text-transform: uppercase;
}

h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p{
	font-family: 'Open Sans', sans-serif;
}

a{ color: #FCAC45;}
a:hover,
a:focus{
	text-decoration: none;
	color: #FCAC45;
}

.section-title hr{
	border-color: #fcac45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.section-title.center{
	padding: 40px 0;
}

.section-title h2,
.section-title.center h2{
	font-weight: 300;
}

.section-title.center .line{
	border-top: 4px solid #fcac45;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}


label {
	float: left;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

button.btn.tf-btn.btn-default {
	float: right;
	background: #FCAC45;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: none;
}

nav#footer{
	background: #222222;
	color: #ffffff;
	padding: 20px 0 15px 0;
}

nav#footer .fnav{ vertical-align: middle;}

ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}

nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}

#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}

#footer i.fa:hover {
	background: #FCAC45;
	border-color: #FCAC45;
	color: #ffffff;
}

ul, ol, li {
	list-style: none;
}

ul.about-list{ margin: 30px 0 0 ;}

ul.about-list li{
	display: block;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}

ul.about-list li span{
	margin-right: 10px;
}

ul.about-list li .fa {
	color: #fcac45;
}

.about-list {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}