<loader *ngIf="onProgress"></loader>
<div class="ext-box">
    <div class="int-box">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-md-offset-3">
                    <div class="at-form wow fadeIn hoverable">
                        <div class="at-title">
                            <h3>{{ 'accounts.verify.title' | translate }}</h3>
                        </div>
                        <div class="at-error alert alert-danger" *ngIf="error">
                            <p>{{ error | translate }}</p>
                        </div>
                        <div class="at-result alert alert-success" *ngIf="success">
                            <p>{{ success | translate }}</p>
                        </div>
                        <div class="at-pwd-form">
                            <form id="verify-email-form" [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmail();"
                                  novalidate>
                                <fieldset>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="username-or-email">
                                            {{ 'accounts.common.username-or-email' | translate }}
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="username-or-email"
                                               name="username-or-email"
                                               placeholder="{{ 'accounts.common.username-or-email' | translate }}"
                                               autocomplete="on"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               formControlName="usernameOrEmail">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">
                                        {{ 'accounts.verify.send-verify-link' | translate }}
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="at-signin-link">
                            <redirect-login></redirect-login>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>