<div class="ext-box">
    <div class="int-box">
        <div class="container">
            <blog-entry *ngIf="displayBlogEntry()"></blog-entry>
            <div class="wow fadeIn">
                <div class="container">
                    <div class="row">
                        <h3>{{ 'PROFILE.title' | translate }}</h3>
                        <hr>
                        <profile-update></profile-update>
                    </div>
                </div>
            </div>
            <profile-image-update></profile-image-update>
        </div>
    </div>
</div>