.bg {
  background-image: url("img/blog/blog.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ext-box-posts {
  display: table;
  width:100%;
  min-height: 100%;
}

.int-box-posts {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  color: #e3e3e3;
  font-weight: 800;
}