<div class="media" *ngFor="let blogComment of blogComments | async">
    <a class="pull-left" href="javascript:void(0);">
        <img class="media-object" src="{{ blogComment.owner | userProfileImageUrl }}" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ blogComment.owner | displayName }}
            <small>{{ blogComment.createdAt | amTimeAgo }}</small>
        </h4>
        <p>{{ blogComment.content }}</p>
    </div>
</div>
<hr>
<pagination-controls
        class="pagination"
        (pageChange)="onPageChanged($event)"
        previousLabel="{{ 'PAGINATION.previous' | translate }}"
        nextLabel="{{ 'PAGINATION.next' | translate }}"></pagination-controls>