<div class="media" *ngFor="let blogComment of blogComments | async">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ blogComment.owner | displayName }}
            <small>{{ blogComment.createdAt }}</small>
        </h4>
        {{ blogComment.content }}
    </div>
</div>
<hr>
<pagination-controls
        class="pagination"
        (pageChange)="onPageChanged($event)"
        previousLabel="{{ 'PAGINATION.previous' | translate }}"
        nextLabel="{{ 'PAGINATION.next' | translate }}"></pagination-controls>