<div class="modal fade" id="team-second-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong><div class="color">{{ 'TEAM.HAZAR.NAME' | translate}}</div></strong></h4>
            </div>
            <div class="modal-body">
                {{ 'TEAM.HAZAR.DESCRIPTION' | translate }}
                <ul class="list">
                    <strong>{{ 'TEAM.EXPERTNESS' | translate }}</strong>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_1' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_2' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_3' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_4' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_5' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_6' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_7' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.EXPERT_8' | translate }}</em>
                    </li>
                </ul>
                <ul class="list">
                    <strong>{{ 'TEAM.TOOLS' | translate }}</strong>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.TOOL_1' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.TOOL_2' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.TOOL_3' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.HAZAR.TOOL_4' | translate }}</em>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>