<div id="services">
    <div class="container">
        <div class="section-title text-center wow zoomIn">
            <h2 [innerHtml]="'SERVICES.OUR_SERVICES' | translate "></h2>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col col-xs-12 col-sm-4 wow zoomIn">
                <h3 style="padding-bottom: 10px;">
                    <a href="javascript:void(0);">{{ 'SERVICES.SERVICE_ONE.TITLE' | translate }}</a>
                </h3>
                <p>{{ 'SERVICES.SERVICE_ONE.DESCRIPTION' | translate }}</p>
                <ul class="list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>MS Word</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Latex</strong>
                    </li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-4 wow zoomIn">
                <h3 style="padding-bottom: 10px;">
                    <a href="javascript:void(0);">{{ 'SERVICES.SERVICE_TWO.TITLE' | translate }}</a>
                </h3>
                <p>{{ 'SERVICES.SERVICE_TWO.DESCRIPTION' | translate }}</p>
                <ul class="list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>MS Excel - VBA</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>SPSS</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>R</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>MATLAB</strong>
                    </li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-4 wow zoomIn">
                <h3 style="padding-bottom: 10px;">
                    <a href="javascript:void(0);">{{ 'SERVICES.SERVICE_THREE.TITLE' | translate }}</a>
                </h3>
                <p>{{ 'SERVICES.SERVICE_THREE.DESCRIPTION' | translate }}</p>
                <ul class="list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>MS Excel - VBA</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>R</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>MATLAB</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>C</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>C++</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>PASCAL</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12 col-sm-4 wow zoomIn">
                <h3 style="padding-bottom: 10px;">
                    <a href="javascript:void(0);">{{ 'SERVICES.SERVICE_SIX.TITLE' | translate }}</a>
                </h3>
                <p>{{ 'SERVICES.SERVICE_SIX.DESCRIPTION' | translate }}</p>
                <ul class="list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Arena (Modüller ve Siman Kullanımı)</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>R</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>MATLAB</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>C</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>C++</strong>
                    </li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-4 wow zoomIn">
                <h3 style="padding-bottom: 10px;">
                    <a href="javascript:void(0);">{{ 'SERVICES.SERVICE_FOUR.TITLE' | translate }}</a>
                </h3>
                <p>{{ 'SERVICES.SERVICE_FOUR.DESCRIPTION' | translate }}</p>
                <ul class="list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Opencart E-Ticaret Sistemi</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Wordpress</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Online Pos Alım Süreçlerinin Takibi</strong>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Kurumlar İçin Lojistik Anlaşmaları</strong>
                    </li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-4 wow zoomIn">
                <h3 style="padding-bottom: 10px;">
                    <a href="javascript:void(0);">{{ 'SERVICES.SERVICE_SEVEN.TITLE' | translate }}</a>
                </h3>
                <p>{{ 'SERVICES.SERVICE_SEVEN.DESCRIPTION' | translate }}</p>
            </div>
        </div>
    </div>
</div>