<div id="tf-services">
    <div class="container">
        <div class="section-title text-center center wow rubberBand">
            <h2 [innerHtml]="'HOME.OUR_SERVICES' | translate "></h2>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4 wow rubberBand">
                <a href="javascript:void(0);">
                    <img class="img-responsive" src="img/word_logo.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:void(0);">{{ 'HOME.MS_WORD' | translate }}</a>
                </h3>
                <p>{{ 'HOME.MS_WORD_DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-4 wow rubberBand">
                <a href="javascript:void(0);">
                    <img class="img-responsive" src="img/latex_logo.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:void(0);">{{ 'HOME.LATEX' | translate }}</a>
                </h3>
                <p>{{ 'HOME.LATEX_DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-4 wow rubberBand">
                <a href="javascript:void(0);">
                    <img class="img-responsive" src="img/statistic_logo.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:void(0);">{{ 'HOME.STATISTICS' | translate }}</a>
                </h3>
                <p>{{ 'HOME.STATISTICS_DESCRIPTION' | translate }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 wow rubberBand">
                <a href="javascript:void(0);">
                    <img class="img-responsive" src="img/algorithm_logo.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:void(0);">{{ 'HOME.ALGORITHM' | translate }}</a>
                </h3>
                <p>{{ 'HOME.ALGORITHM_DESCRIPTION' | translate }}</p>
            </div>
            <div class="col-md-4 wow rubberBand">
                <a href="javascript:void(0);">
                    <img class="img-responsive" src="img/excel_logo.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:void(0);">{{ 'HOME.EXCEL_TEMPLATE' | translate }}</a>
                </h3>
                <p>{{ 'HOME.EXCEL_TEMPLATE_DESCRIPTION' | translate }}</p>
            </div>
        </div>
    </div>
</div>