<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow zoomIn">
                <img src="img/02.png" class="img-responsive">
            </div>
            <div class="col-md-6 wow zoomIn">
                <div class="about-text">
                    <div class="section-title">
                        <h2 [innerHtml]="'ABOUT.SOME_WORDS' | translate "></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p [innerHtml]="'ABOUT.DESCRIPTION' | translate "></p>
                    <p>{{ 'ABOUT.CONTACT' | translate }}</p>
                    <p>{{ 'ABOUT.REPLY' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>