<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow zoomIn">
                <img src="img/02.png" class="img-responsive">
            </div>
            <div class="col-md-6 wow zoomIn">
                <div class="about-text">
                    <div class="section-title">
                        <h2 [innerHtml]="'ABOUT.SOME_WORDS_ABOUT_US' | translate "></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">{{ 'ABOUT.ABOUT_US_FIRST' | translate }}</p>
                    <p class="intro">{{ 'ABOUT.ABOUT_US_SECOND' | translate }}</p>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>{{ 'ABOUT.MISSION' | translate }}</strong> - <em>{{ 'ABOUT.MISSION_DESCRIPTION' | translate }}</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>{{ 'ABOUT.SKILLS' | translate }}</strong> - <em>{{ 'ABOUT.SKILLS_DESCRIPTION' | translate }}</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>