#about{
  padding: 80px 0;

  ul.about-list{ margin: 30px 0 0 ;}
  ul.about-list li{
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  ul.about-list li span{
    margin-right: 10px;
  }

}