#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}