<loader *ngIf="onProgress"></loader>
<div class="ext-box">
    <div class="int-box">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-md-offset-3">
                    <div class="at-form wow fadeIn hoverable">
                        <div class="at-title">
                            <h3>{{ 'accounts.signup.title' | translate }}</h3>
                        </div>
                        <social-login></social-login>
                        <div class="at-sep">
                            <strong>{{ 'accounts.common.or' | translate }}</strong>
                        </div>
                        <div class="at-error alert alert-danger" *ngIf="error">
                            <p>{{ error | translate }}</p>
                        </div>
                        <div class="at-error alert alert-success" *ngIf="success">
                            <p>{{ success | translate }}</p>
                        </div>
                        <div class="at-pwd-form">
                            <form id="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()"
                                  novalidate>
                                <fieldset>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="username">
                                            {{ 'accounts.common.username' | translate }}
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="username"
                                               name="username"
                                               placeholder="{{ 'accounts.common.username' | translate }}"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               autocomplete="off"
                                               formControlName="username">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="email">
                                            {{ 'accounts.common.email' | translate }}
                                        </label>
                                        <input type="email"
                                               class="form-control"
                                               id="email"
                                               name="email"
                                               placeholder="{{ 'accounts.common.email' | translate }}"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               autocomplete="off"
                                               formControlName="email">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="firstname">
                                            {{ 'accounts.common.firstname' | translate }}
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="firstname"
                                               name="firstname"
                                               placeholder="{{ 'accounts.common.firstname' | translate }}"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               autocomplete="off"
                                               formControlName="firstname">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="lastname">
                                            {{ 'accounts.common.lastname' | translate }}
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="lastname"
                                               name="lastname"
                                               placeholder="{{ 'accounts.common.lastname' | translate }}"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               autocomplete="off"
                                               formControlName="lastname">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="password">
                                            {{ 'accounts.common.password' | translate }}
                                        </label>
                                        <input type="password"
                                               class="form-control"
                                               id="password"
                                               name="password"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               autocomplete="off"
                                               formControlName="password">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="password-again">
                                            {{ 'accounts.common.password-again' | translate }}
                                        </label>
                                        <input type="password"
                                               class="form-control"
                                               id="password-again"
                                               name="password-again"
                                               autocapitalize="none"
                                               autocorrect="off"
                                               autocomplete="off"
                                               formControlName="passwordAgain">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">
                                        {{ 'accounts.common.signup' | translate }}
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="at-signin-link">
                            <redirect-login></redirect-login>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>