<div class="ext-box">
    <div class="int-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="at-form wow fadeIn hoverable">
                        <div class="at-title">
                            <h3>{{ 'ACCOUNTS.LOGIN.login' | translate }}</h3>
                        </div>
                        <social-login></social-login>
                        <div class="at-sep">
                            <strong>{{ 'ACCOUNTS.LOGIN.OR' | translate }}</strong>
                        </div>
                        <div class="at-error alert alert-danger" *ngIf="error">
                            <p>{{ error | translate }}</p>
                        </div>
                        <div class="at-pwd-form">
                            <form id="at-pwd-form" [formGroup]="loginForm" (ngSubmit)="login()"
                                  novalidate>
                                <fieldset>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="at-field-email">
                                            {{ 'ACCOUNTS.LOGIN.usernameOrEmail' | translate }}
                                        </label>
                                        <input type="email"
                                               class="form-control"
                                               id="at-field-email"
                                               name="at-field-email"
                                               placeholder="{{ 'ACCOUNTS.LOGIN.usernameOrEmail' | translate }}"
                                               formControlName="usernameOrEmail">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-input form-group has-feedback">
                                        <label class="control-label" for="at-field-password">
                                            {{ 'ACCOUNTS.LOGIN.password' | translate }}
                                        </label>
                                        <input type="password"
                                               class="form-control"
                                               id="at-field-password"
                                               name="at-field-password"
                                               placeholder="{{ 'ACCOUNTS.LOGIN.password' | translate }}"
                                               formControlName="password">
                                        <span class="help-block hide"></span>
                                    </div>
                                    <div class="at-pwd-link">
                                        <redirect-recover></redirect-recover>
                                    </div>
                                    <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">
                                        {{ 'ACCOUNTS.LOGIN.login' | translate }}
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="at-signin-link">
                            <redirect-verify-email></redirect-verify-email>
                            <redirect-signup></redirect-signup>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>