<form class="form-horizontal" [formGroup]="passwordUpdateForm" (submit)="updatePassword();">
    <div class="at-error alert alert-danger" *ngIf="error">
        <p>{{ error | translate }}</p>
    </div>
    <div class="at-error alert alert-success" *ngIf="success">
        <p>{{ success | translate }}</p>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">{{ 'profile.current-password' | translate }}</label>
        <div class="col-lg-8">
            <input class="form-control" type="password"
                   formControlName="currentPassword">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">{{ 'profile.new-password' | translate }}</label>
        <div class="col-lg-8">
            <input class="form-control" type="password"
                   formControlName="newPassword">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">{{ 'profile.new-password-again' | translate }}</label>
        <div class="col-lg-8">
            <input class="form-control" type="password"
                   formControlName="newPasswordAgain" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary">{{ 'profile.change-password' | translate }}</button>
            <button type="button" class="btn btn-default"
                    (click)="clearPasswordUpdateForm();">{{ 'profile.clear' | translate }}</button>
        </div>
    </div>
</form>