<div class="modal fade" id="team-first-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong><div class="color">{{ 'TEAM.TAYFUN.NAME' | translate }}</div></strong></h4>
            </div>
            <div class="modal-body">
                {{ 'TEAM.TAYFUN.DESCRIPTION' | translate }}
                <ul class="list">
                    <strong>{{ 'TEAM.EXPERTNESS' | translate }}</strong>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.TAYFUN.EXPERT_1' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.TAYFUN.EXPERT_2' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.TAYFUN.EXPERT_3' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.TAYFUN.EXPERT_4' | translate }}</em>
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <em>{{ 'TEAM.TAYFUN.EXPERT_5' | translate }}</em>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>